/*    start variables   */
:root {
  --main-color : #2196F3;
  --alt-color : #1787E0;
  --section-bg: #EcEcEc;
  --main-padding: 100px;
  --main-trans : 0.3s ease;
}
@media (max-width: 767px) {
  :root {
    --main-padding: 50px;
  }
}
/*    end variables   */



/*    start global rules     */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
/*     start containers       */
.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
 .container {
   width: 750px;
 }
}
@media (min-width: 992px) {
 .container {
   width: 970px;
 }
}
@media (min-width: 1200px) {
 .container {
   width: 1170px;
 }
}
/*     end containers       */

/*    start  componants     */
.main-tittle {
  font-size: 30px;
  font-weight: bold;
  border: 2px solid var(--main-color);
  width: fit-content;
  margin: 0 auto 80px;
  padding: 10px 20px;
  text-transform: uppercase;
  position: relative;
  transition: var(--main-trans);
  z-index: 1;
}
@media (max-width: 767px) {
  .main-tittle {
    font-size: 20px;
    margin: 0 auto 40px;

  }
}
.main-tittle::before {
  content: "";
  background-color: var(--main-color);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;

}
.main-tittle::after {
  content: "";
  background-color: var(--main-color);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.main-tittle:hover {
  border: 2px solid #fff;
  color: #fff;
  transition-delay: 0.5s;
}
.main-tittle:hover::before {
  animation: left-fill 0.5s linear forwards;
}
.main-tittle:hover::after {
  animation: right-fill 0.5s linear forwards;
}
@keyframes left-fill {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  
  100% {
    border-radius: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
}@keyframes right-fill {
  50% {
    right: 0;
    height: 12px;
    width: 12px;
  }
  
  100% {
    border-radius: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
  
}
/*    end  componants     */
/*    end global rules     */

/*      start header       */
header {
/*  position: fixed;
  top: 0;
  width: 100%;  
  background-color: #fff;
  position: sticky;
  top: 0;
  background-color: var(--section-bg);
  */
  box-shadow: 0 0 10px #ddd;

}
header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header .logo img {
  width: 50px;
}
header nav .min-links {
  display: flex;
}
header nav .min-links > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-transform: capitalize;
  padding: 0 1.1em;
  height: 55px;
  transition: var(--main-trans);
  position: relative;
  overflow: hidden;
}
header nav .min-links > li > a::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-trans);
}
header nav .min-links > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
header nav .min-links > li > a:hover::before{
  left: 0;
}
@media (max-width: 767px) {
header .logo {
   width: 100%;
   text-align: center;
 }
 header nav {
   margin: auto;
 }
header nav .min-links > li > a {
  padding: 0.6em;
  font-size: 14px;
  height: 25px;
}
}
header nav .min-links a:hover + .mega-links {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
header .mega-links {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 30px;
  background-color: #fff;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  opacity: 0;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  transition: top var(--main-trans), opacity var(--main-trans);
}
@media (max-width: 767px) {
 header .mega-links {
   flex-direction: column;
   gap: 0;
   padding: 5px;
 }
}
header .mega-links .image img{
  max-width: 100%;
}
@media (max-width: 991px) {
  header .mega-links .image {
    display: none;
  }
}
header .mega-links .links {
  min-width: 250px;
  flex: 1;
}
header .mega-links .links li{
  position: relative;
}
header .mega-links .links li:not(:last-child) {
  border-bottom: 1px solid #E9E6E6;
}
@media (max-width: 767px) {
  header .mega-links .links:first-of-type li:last-child {
    border-bottom: 1px solid #E9E6E6;
 }
}

header .mega-links .links li::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-trans);
}
header .mega-links .links li:hover::before{
  width: 100%;
}
header .mega-links .links li a{
  color: var(--main-color);
  display: block;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  header .mega-links .links li a{
  font-size: 12px;
 }
}

header .mega-links .links li a i{
  margin-right: 10px;
}

/*      end header       */

/*      start landing section       */
.landing {
  position: relative;
}
.landing .container {
  min-height: calc(100vh - 55px);
  display: flex;
  align-items: center;
  padding-bottom: 55px;
  
}
@media (max-width: 991px) {
  .landing .container {
    padding-bottom: 0;
  }
}
.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--section-bg);
  top: 0;
  left: 0;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .text {
  flex: 1;
}
@media (max-width: 991px) {
 .landing .text {
   text-align: center;
 }
}
.landing .text h2 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -2;
  margin: 0;
  text-transform: capitalize;
}
.landing .text p {
  font-size: 20px;
  line-height: 1.6;
  margin: 5px 0 0;
  color: #777;
}
@media (max-width: 767px) {
 .landing .text h2 {
   font-size: 28px;
 }
 .landing .text p {
   font-size: 15px;
 }
}
.landing .lan-image img {
  position: relative;
  width: 600px;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
 .landing .lan-image {
   display: none;
 }
}
.landing .down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.landing .down i {
  animation: bouncing 1.5s infinite;
}
.landing .down:hover {
  color: var(--alt-color);
}
/*      end landing section       */

/*      start articles section       */
.articles {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .box {
  box-shadow: 0 2px 15px rgb(0 0 0 /10%);
  border-radius: 10px;
  overflow: hidden;
  transition: transform var(--main-trans), box-shadow var(--main-trans);
}
.articles .box:hover {
  transform: translateY(-30px);
  box-shadow: 0 2px 15px rgb(0 0 0 /30%);
}
.articles .box img {
  width: 100%;
  max-width: 100%;
}
.articles .box .content {
  padding: 20px;
}
.articles .box .content h3 {
  margin: 0;
}
.articles .box .content p {
  margin: 10px 0 0;
  color: #777;
  line-height: 1.3;
}
.articles .box .info {
  padding: 20px;
  border-top: 1px solid #E6E6E7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .box .info i {
  color: var(--main-color);
}
.articles .box:hover .info i {
  animation: moving-arrow 0.6s linear infinite;
}

/*      end articles section       */

/*      start gallary section       */
.gallary {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--section-bg);
}
.gallary .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallary .box {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}
.gallary .box .image {
  position: relative;
  overflow: hidden;
}
.gallary .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0px;
  width: 0px;
  background-color: rgb(255 255 255 / 20%);
  opacity: 0;
  z-index: 2;
}
.gallary .box .image:hover::before {
  animation: flashing 0.7s;
}
.gallary .box .image img {
  max-width: 100%;
  width: 100%;
  transition: var(--main-trans);
}
.gallary .box .image:hover img {
  transform: rotate(5deg) scale(1.1)
}

/*      end gallary section       */




/*      start features section     */
.features {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .box {
  text-align: center;
  border: 1px solid #ccc;
  overflow: hidden;
}
.features .box .image-holder {
  position: relative;
}
.features .box .image-holder::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 100%;
}
.features .box .image-holder::after {
  content: "";
  position: absolute;
  bottom: 1px;
  right: -1px;
  border-width: 0px 0px 150px 350px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  transition: var(--main-trans);
}
.features .box:hover .image-holder::after {
  border-width: 150px 350px 150px 0;
}
.features .box .image-holder img {
  max-width: 100%;
}
.features .box h2 {
  font-size: 40px;
  font-weight: bold;
  font-variant: small-caps;
  text-transform: capitalize;
  width: fit-content;
  margin: auto;
  position: relative;
}
.features .box h2::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 15px;
  width: calc( 100% - 30px);
  height: 2px;
}
.features .box p {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.6;
  padding: 25px;
  margin: 30px 0;
}
.features .box a {
  display: block;
  width: fit-content;
  font-size: 22px;
  font-weight: bold;
  margin: 0 auto 30px;
  border: 3px solid transparent;
  border-radius: 5px;
  padding: 10px 30px;
  transition: var(--main-trans);
}
@media (max-width: 767px) {
 .features .box h2 {
   font-size: 30px;
   
 }
 .features .box p {
   font-size: 14px;
   margin: 20px 0;
 }
 .features .box a {
   font-size: 15px;
   margin: 0 auto 15px;
 }
 
}

.features .quality .image-holder::before {
  background-color: rgb(244 64 54 / 60%);
}
.features .quality h2::before {
  background-color: #f44036;
}
.features .quality a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .time .image-holder::before {
  background-color: rgb(0 150 136 / 60%)
}
.features .time h2::before {
  background-color: #009688;
}
.features .time a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .passion .image-holder::before {
  background-color: rgb(3 169 244 / 60%)
}
.features .passion h2::before {
  background-color: #03a9f4;
}
.features .passion a {
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .box:hover a {
  background-position: left bottom;
  color: #fff;
}

/*      end features section     */

/*      start testimoniales section     */
.testimonials {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--section-bg);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .box {
  box-shadow: 0 0 10px #ddd;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  padding: 20px;
}
.testimonials .box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid var(--section-bg);
  position: absolute;
  right: 0;
  top: -40px;
}
.testimonials .box h3 {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0 0 10px;
}
.testimonials .box .tittle {
  font-size: 14px;
  text-transform: capitalize;
  line-height: 1.6;
  color: #777;
}
.testimonials .box .rate .filled {
  color: #ffc107;
}
.testimonials .box p {
  font-size: 12px;
  color: #777;
}
/*      end testimoniales section     */

/*      start team section     */
.team {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.team .box {
  position: relative;
}
.team .box::before, 
.team .box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 10px;
}
.team .box::before {
  width: calc(100% - 60px);
  background-color: #f3f3f3;
  z-index: -2;
}
.team .box::after {
  width: 0;
  background-color: #e4e4e4;
  z-index: -1;
  transition: var(--main-trans);
}
.team .box:hover::after {
  width: calc(100% - 60px);
}
.team .box .data {
  display: flex;
  margin-top: 60px;
}
.team .box .data img {
  width: calc(100% - 60px);
  border-radius: 10px;
}
.team .box:hover .data img {
  filter: grayscale(100)
}
.team .box .data .social {
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team .box .data .social a {
  font-size: 1em;
  margin: 5px auto;
}
.team .box .data .social a i {
  color: #777;
  transition: var(--main-trans);
}
.team .box .data .social a:hover i {
  color: var(--main-color);
}
.team .box .info {
  padding-left: 80px;
}
.team .box .info h3 {
  font-size: 22px;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 0;
  transition: var(--main-trans);
}
.team .box:hover .info h3 {
  color: #777;
}
.team .box .info p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
}
/*      end team section     */

/*      start services section     */
.services {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--section-bg);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .box {
  text-align: center;
  background-color: #fff;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  border-radius: 10px;
  counter-increment: services;
  position: relative;
  transition: var(--main-trans);
}
.services .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 0;
  background-color: var(--main-color);
  transition: var(--main-trans);
}
.services .box:hover {
  transform: translateY(-10px);
}
.services .box:hover::before {
  width: 97%;
}
.services .box i {
  color: var(--section-bg);
  margin: 30px auto 15px;
}
.services .box h3 {
  color: var(--main-color);
  text-transform: capitalize;
}
.services .box .info {
  background-color: #f9f9f9;
  padding: 15px;
  text-align: right;
  position: relative;
  border-bottom-left-radius: 10px;
}
.services .box .info::before {
  content: "0" counter(services);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  background-color: var(--main-color);
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  padding-right: 15px;
}
.services .box .info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 80px;
  width: 50px;
  height: calc(100% + 0.4px);
  background-color: #d5d5d5;
  transform: skewX(-30deg);
}
.services .box .info a {
  color: var(--main-color);
}
/*      end services section     */

/*      start our skills section     */
.our-skills {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
}
.our-skills .container {
  display: flex;
  justify-content: center;
}
.our-skills img {
  width: 150px;
}
@media (max-width: 991px) {
.our-skills img {
  display: none;  
}
}
.our-skills .skills {
  flex: 1;
}
.our-skills .skills .skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}
.our-skills .skills .skill h3 span {
  font-size: 12px;
  color: var(--main-color);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 3px 5px;
}
.our-skills .skills .skill .progress {
  height: 15px;
  background-color: #eee;
  position: relative;
}
.our-skills .skills .skill .progress span {
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
}
/*      end our skills section     */

/*      start work steps section     */
.work-steps {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--section-bg);
}
.work-steps .container {
  display: flex;
  justify-content: space-between;
}
.work-steps img {
  max-width: 300px;
  max-height: 200px;
  margin-right: 100px;
}
@media (max-width: 991px) {
.work-steps .container > img {
   display: none;  
}
}
.work-steps .box {
  background-color: #f6f5f5;
  padding: 30px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 2px solid #fff;
  position: relative;
  z-index: 1;
} 
@media (max-width: 991px) {
.work-steps .box {
  margin: 0 auto 20px;
  flex-direction: column;
  text-align: center;
}
}
.work-steps .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: #ededed;
  z-index: -1;
  transition: var(--main-trans);
}
.work-steps .box:hover::before {
  width: 100%;
  height: 100%;
}
.work-steps .box img {
  width: 65px;
  margin-right: 30px;
}
.work-steps .box h3 {
  margin: 0;
  font-size: 22px;
  text-transform: capitalize;
}
.work-steps .box p {
  font-size: 16px;
  color: #777;
  line-height: 1.7;
}
@media (max-width: 667px) {
.work-steps .box img {
  margin: 10px auto;
}
.work-steps .box h3 {
  font-size: 18px;
}
.work-steps .box p {
  font-size: 12px;
  line-height: 1.4;
}
}
/*      end work steps section     */

/*      start events section     */
.events {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
}
.events .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.events img {
  max-width: 350px;
  padding: 10px;
  border-radius: 50px 80px 30px 100px;
  border: 1px double var(--main-color);
}
/*
@media (max-width: 991px) {
.events img {
  display: none;  
}
}
*/
.events .info {
  flex: 1;
}
.events .info .time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
}
.events .info .time .unit {
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  text-align: center;
  width: 75px;
  transition: var(--main-trans);
}
.events .info .time .unit span {
  display: block;
}
.events .info .time .unit span:first-child {
  font-size: 35px;
  font-weight: bold;
  padding: 15px;
  color: var(--main-color);
}
.events .info .time .unit span:last-child {
  font-size: 13px;
  padding: 8px 10px;
  border-top: 1px solid #d4d4d4;
  transition: var(--main-trans);
}
.events .info .time .unit:hover, 
 .events .info .time .unit:hover span:last-child {
   border-color: var(--main-color);
 }
.events .tittle {
  text-align: center;
  margin-top: 30px;
  text-transform: capitalize;
  font-size: 30px;
}
.events .description {
  text-align: center;
  margin-top: 30px;
  line-height: 1.7;
  font-size: 19px;
  color: #777;
}
.events .subscribe {
  width: 100%;
  margin-top: 50px;
}
.events .subscribe form {
  display: flex;
  gap: 15px;
  width: 600px;
  background-color: #f6f5f5;
  margin: 20px auto;
  padding: 30px 40px;
  border-radius: 50px;
}
@media (max-width: 767px) {
  .events .subscribe form {
    max-width: 100%;
    padding: 20px;
    flex-direction: column;
  }
}
.events .subscribe form input[type="email"] {
  padding: 20px;
  border-radius: 50px;
  border: none;
  caret-color: var(--main-color);
  flex: 1;
}
.events .subscribe form input[type="email"]:focus {
  outline: none;
}
.events .subscribe form input[type="email"]::placeholder {
  transition: var(--main-trans);
}
.events .subscribe form input[type="email"]:focus::placeholder {
  opacity: 0;
}
.events .subscribe form input[type="submit"] {
  padding: 20px;
  border-radius: 50px;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  font-weight: bold;
  transition: var(--main-trans);
}
.events .subscribe form input[type="submit"]:hover {
  background-color: var(--alt-color);
}
/*      end events section     */

/*      start pricing section     */
.pricing {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: var(--section-bg);
  position: relative;
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.pricing .box {
  box-shadow: 0 0 10px #ddd;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
}
.pricing .box::before,
.pricing .box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  z-index: -1;
  transition: var(--main-trans);
}
.pricing .box::before {
  left: 0;
  bottom: 0;
}
.pricing .box::after {
  right: 0;
  top: 0;
}
.pricing .box:hover::before, 
.pricing .box:hover::after {
  width: 100%;
}
.pricing .box.popular .label{
  position: absolute;
  right: 20px;
  writing-mode: vertical-lr;
  padding: 10px 10px 35px 10px;
  background-color: var(--main-color);
  font-weight: bold;
  color: #fff;
}
.pricing .box.popular .label::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  border-style: solid;
  border-width: 20px;
  border-color: transparent transparent #fff transparent;
  transition: var(--main-trans);
}
.pricing .box.popular:hover .label::before {
  border-color: transparent transparent #f6f6f6 transparent;
}

.pricing .box .tittle {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 20px;
}
.pricing .box i {
  color: var(--main-color);
  margin: 20px;
}
.pricing .box .price span:first-child {
  display: block;
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
}
.pricing .box .price span:last-child {
  display: block;
  color: #777;
}
.pricing .box ul {
  margin: 20px 0;
  text-align: left;
}
.pricing .box ul li {
  padding: 10px;
  border-top: 1px solid #eee;
}
.pricing .box ul li::before {
  font-family: "Font Awesome Free 6.2.1";
  content: "\dafc";
  margin-right: 5px;
  color: var(--main-color);
}
.pricing .box a {
  font-size: 16px;
  font-weight: bold;
  color: var(--main-color);
  text-transform: capitalize;
  display: block;
  width: fit-content;
  margin: 15px auto 30px;
  padding: 10px 20px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
}
/*      end pricing section     */

/*      start videoes section     */
.videoes{
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.videoes .holder {
  background-color: var(--section-bg);
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}
@media (max-width: 991px) {
  .videoes .holder {
    flex-direction: column;
  }
}
.videoes .holder .list {
  min-width: 320px;
  background-color: #fff;
}
.videoes .holder .list .name {
  color: var(--main-color);
  background-color: #f4f4f4;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.videoes .holder .list ul li {
  padding: 20px;
  cursor: pointer;
  border-top: 1px solid var(--section-bg);
  transition: var(--main-trans);
}
.videoes .holder .list ul li:hover {
    background-color: #fafafa;
    color: var(--main-color);
}

.videoes .holder .list ul span {
  display: block;
  margin-top: 10px;
}
.videoes .holder .preview {
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.videoes .holder .preview img {
  max-width: 100%;
}
.videoes .holder .preview .info {
  background-color: #fff;
  padding: 20px;
  margin-top: 10px
}
/*      end videoes section     */

/*      start stats section     */
.stats {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background: url("../images/stats.jpg") no-repeat;
  background-size: cover;
  position: relative;
}
.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.8;
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.stats .box {
  position: relative;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  opacity: 0.8;
  transition: var(--main-trans);
}
.stats .box::before, 
.stats .box::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  transition: var(--main-trans);
}
.stats .box::before {
  left: 0;
  top: 0;
}
.stats .box::after {
  right: 0;
  bottom: 0;
}
.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}
.stats .box:hover {
  opacity: 1;
}
.stats .box span.number {
  display: block;
  margin: 10px auto;
  font-size: 50px;
  font-weight: bold;
}
.stats .box span.text {
  color: var(--main-color);
}
/*      end stats section     */

/*      start discount section     */
.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  text-transform: capitalize;
}
.discount .image {
  background-image: url("../images/feat1.png");
  background-size: cover;
  flex-basis: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  animation: change-bg 10s linear infinite;
}
.discount .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 90%);
  z-index: -1;
}
@media (max-width: 991px) {
 .discount .image {
   flex-basis: 100%;
 }
}
.discount .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}
@media (max-width: 991px) {
 .discount .form {
   flex-basis: 100%;
 }
}

.discount .form .input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}
.discount .form textarea.input {
  resize: none;
  height: 200px;
}
.discount .form .input:focus {
  outline: none;
}
.discount .form input[type="submit"]{
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 25px;
  background-color: var(--main-color);
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: var(--main-trans);
}
.discount .form input[type="submit"]:hover {
  background-color: var(--alt-color);
}

.discount .content {
  text-align: center;
  padding: 0 20px;
}
.discount .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}
.discount .content p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 500px;
}
.discount .content img {
  width: 200px;
  max-width: 100%;
}
/*      end discount section     */

/*      start footer section     */
footer {
  background-color: #191919;
  text-transform: capitalize;
}
footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
footer .box h3 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
footer .box .social {
  display: flex;
}
footer .box .social li {
  margin-right: 5px
}
footer .box .social li i {
  background-color: #313131;
  color: #b9b9b9;
  font-size: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  transition: var(--main-trans);
}
footer .box .social .fa-facebook:hover {
  background-color: #1877f2;
}
footer .box .social .fa-twitter:hover {
  background-color: #1da1f2;
}
footer .box .social .fa-linkedin:hover {
  background-color: #1877f2;
}
footer .box p {
  color: #b9b9b9;
  line-height: 1.4;
  font-size: 12px;
}
footer .box .links li {
  padding: 10px 0;
  transition: var(--main-trans);
}
footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
footer .box .links li:hover {
  padding-left: 10px;
}
footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-trans);
}
footer .box .links li:hover a {
  color: #fff;
}
footer .box .links a::before {
  font-family: "Font Awesome Free 6.2.1";
  content: "\dafc";
  margin-right: 10px;
  color: var(--main-color);
}
footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
footer .box .line i {
  font-size: 25px;
  margin-right: 10px;
  color: var(--main-color);
}
footer .box .line .info {
  line-height: 1.6;
  flex: 1;
}
footer .box .line .info span {
  display: block;
}
footer .box.f-gal {
  align-self: center;
}
footer .box.f-gal img {
  width: 30%;
  border: 3px solid #fff;
}
footer .copyrights {
  color: #fff;
  padding: 25px 0;
  margin: 50px 0 0;
  text-align: center;
  border-top: 1px solid #444;
}
/*      end footer section     */


/*      start animation     */
@keyframes up-and-down {
  0%, 100% {
    top: 0;
  } 
  50%{
    top: -50px;
  }}
  @keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100%{
      transform: translateY(0);
    }
    40%, 60% {
      transform: translateY(-15px);
    }
  }
@keyframes moving-arrow {
    100%{
      transform: translateX(-10px);
    }
  }
  
@keyframes flashing {
  0%, 40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@keyframes change-bg {
  0%,
  100% {
    background-image: url("../images/feat1.png");
  } 
  35%{
    background-image: url("../images/feat2.png");
  }
    70% {
    background-image: url("../images/feat3.png");
  }
}
/*      end animation     */


